@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

$font: "Helvetica Neue", "Helvetica", "Open Sans", sans-serif;
$red: #d34848;
$yellow: #ffb33f;
$white: #ffffff;
$black: #171717;
$blue: #1fe1e9;
$purple: #5e33d1;

* {
  font-size: 100%;
  text-decoration: none;
}

.Slideshow {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 15;

  font-family: $font;
  font-size: 3em;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Slideshow h1 {
  text-align: center;
}

.Slideshow .title-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.Slideshow .subtext {
  width: 50%;
}

.Slideshow p {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 300;
  letter-spacing: 3.2px;
}

.Slideshow img {
  display: none;
}

.curtains-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

.App {
  font-family: $font;
  text-align: center;
}

.section {
  width: 100vw;
  height: 100vh;
}

.small {
  height: 75vh;
}

.footer {
  height: 50vh;
}

.hero {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.hero-content {
  color: $white;
}

.hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(../src/img/Image1.png);
  background-size: cover;
  z-index: -1;
}

.text-content {
  vertical-align: middle;
}

h1 {
  font-weight: 600;
  font-size: 3.6rem;
  letter-spacing: 6.5px;
  color: $white;
}

p {
  color: $white;
  letter-spacing: 3.2px;
}

.sound p {
  color: $black;
  font-size: 1.5rem;
  letter-spacing: 5.1px;
}

.sound h1 {
  letter-spacing: 7.4px;
}

.sound a {
  float: left;
}

// RED PAGE

.sound {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
  min-height: 100vh;
}

.sound-content {
  width: 40vw;
}

.speaker1 {
  height: 43vh;
  width: auto;
  float: right;
  transform: translateY(-75px);
}

.speaker2 {
  height: 43vh;
  width: auto;
  float: right;
  transform: translateY(75px);
}

.roundbutton {
  font-family: font;
  font-size: 27px;
  letter-spacing: 2.7px;
  color: $white;
  text-align: center;
  line-height: 5.5;
  display: block;
  height: 145px;
  width: 145px;
  border-radius: 50%;
  border: 3px solid rgb(255, 255, 255);
  float: right;
}

//YELLOW PAGE

.reveal {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-image: url(../src/img/Image4@2x.png);
  background-size: cover;
  background-position: 100% 25%;
}

.reveal-content {
  position: absolute;
  margin-left: 50%;
  margin-top: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  z-index: 5;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

//PERK PAGE

hr.animated {
  animation-delay: 2s;
  width: 80px;
  animation: expand 2s ease-in-out;
}
hr.red {
  border: 2px solid $red;
}
hr.yellow {
  border: 2px solid $yellow;
}
hr.blue {
  border: 2px solid $blue;
}

@keyframes expand {
  0% {
    width: 0px;
  }
  100% {
    width: 80px;
  }
}

.perks {
  display: flex;
  justify-content: center;
  align-items: left;
}

.perk-content {
  margin: auto;
  vertical-align: middle;
  text-align: left;
  width: 60vw;
}

.perk-group {
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: $white;
}

.perks h3 {
  font-weight: 400;
  font-size: 2.7rem;
}

.perks p {
  margin-top: 10%;
  font-size: 1.5rem;
}

#left {
  color: $red;
  width: 33%;
  margin-right: 30px;
}

#left2 {
  color: $white;
  width: 33%;
  margin-right: 30px;
}

#mid {
  color: $yellow;
  width: 33%;
  margin-right: 30px;
}

#right {
  color: $blue;
  width: 33%;
}

#left h1 {
  color: $red;
}

#mid h1 {
  color: $yellow;
}

#right h1 {
  color: $blue;
}

//REVIEW PAGE
.review {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 100vh;
  overflow: hidden;
}

.images-group-review {
  margin: 0;
  padding: 0;
  width: 35vw;
}

.review-group {
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.review-group-display {
  margin-top: 30px;
  display: flex;
  text-align: left;
}

#review-block {
  width: 20vw;
}

.reivew h1 {
  letter-spacing: 7.4px;
  font-weight: 800;
}

.review h2 {
  font-size: 2.5rem;
}

.review h3 {
  color: $white;
  letter-spacing: 3.5px;
  font-size: 2.2rem;
  font-weight: 400;
}

.review p {
  color: $black;
  letter-spacing: 3px;
  font-size: 1.8rem;
  font-weight: 500;
}

.speaker3 {
  width: 50vh;
  height: auto;
  margin-left: -55px;
  transform: translateY(130px);
}

.speaker4 {
  width: 50vh;
  height: auto;
  margin-left: 55px;
  transform: translateY(-70px);
}

//PRICING

.pricing {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.pricing-c {
  margin: auto;
}

.pricing-group {
  //margin: 0 auto;
  margin: 0 auto;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.prcing-group p {
  color: $white;
}

.title {
  width: 70%;
  margin-bottom: 20%;
  margin-left: 15%;
  text-align: left;
}

//GET NOW PAGE

.now {
  display: flex;
}

.get-now {
  margin: auto;
  width: 60%;
}

.get-now-btn {
  margin: auto;
}

.now a {
  height: 15px;
  width: 10vw;
  text-align: center;
  font-size: 1.2rem;
}

//FOOTER

.footer {
  display: flex;
  overflow: hidden;
}
.bottom-text {
  position: relative;
  text-align: center;
  margin: 0 auto;
  bottom: -350px;
}

.red {
  background-color: $red;
}

.yellow {
  background-color: $yellow;
}

.black {
  background-color: $black;
}

.blue {
  background-color: $blue;
}

.purple {
  background-color: $purple;
}

#hero-btn {
  margin: auto;
  height: 30px;
  width: 100px;
}

.cta-button {
  margin-top: 1vh;
  margin-right: 8vw;
  float: right;
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #faf8f8;
  padding: 1em 2em;
  border: none;
  color: rgb(12, 12, 12);
  font-size: 0.8em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}

.cta-button:hover {
  background: #f72359;
  color: $white;
}

.cta-button span {
  position: relative;
  pointer-events: none;
}
.cta-button::before {
  --size: 0;
  content: "";
  position: absolute;
  left: var(--x);
  top: var(--y);
  width: var(--size);
  height: var(--size);
  background: radial-gradient(circle closest-side, #6d3cdf, transparent);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transition: width 0.2s ease, height 0.2s ease;
}
.cta-button:hover::before {
  --size: 400px;
}

// BUTTONS
$bg-color: #222;

//Image Slider Dots
.dot {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 10px;
  z-index: 99;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 0px 0px 5px #fff;
}
.dot.a1 {
  margin-left: -20px;
}
.dot.a2 {
  margin-left: 0px;
}
.dot.a3 {
  margin-left: 20px;
}

.dot.a1:hover {
  background: #fff;
}
.dot.a2:hover {
  background: #fff;
}
.dot.a3:hover {
  background: #fff;
}

//2ND BTN

[class*="btn-"] {
  margin: auto;
  outline: 0;
  border-radius: 50px;
  font-size: 1.5em;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  overflow: hidden;
  position: relative; //absolute
  padding: 2em 3em;
  margin: 4em;
  text-transform: uppercase;
  -webkit-tap-highlight-color: transparent;
  transition: all 500ms ease-in-out;
  &::after,
  &::before {
    content: "";
    position: absolute;
  }
  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.8);
  }
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ff4e50 0%,
    #f9d423 51%,
    #ff4e50 100%
  );
}
.btn-grad {
  height: 35px;
  width: 115px;
  margin: 10px;
  padding: 15px 45px;
  font-size: 1rem;
  text-align: center;

  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: block;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
