$font: "Helvetica Neue", "Helvetica", "Open Sans", sans-serif;
$red: #d34848;
$yellow: #ffb33f;
$white: #ffffff;
$black: #171717;
$blue: #1fe1e9;
$purple: #5e33d1;

* {
  margin: 0;
  padding: 0;
}

.logo {
  text-decoration: none;
  color: $white;
  mix-blend-mode: difference;
}

.nav {
  margin: 50px 50px;
  position: fixed;
  top: 0;
  height: 150px;
  width: 100vw;
  z-index: 50;
}

.nav h2 {
  color: $white;
  float: left;
  font-size: 2rem;
  margin-left: 8%;
  margin-top: 1%;
  font-weight: 400;
  letter-spacing: 3.5px;
}

.hamburger {
  margin-top: -13px;
  margin-right: 10px;
  float: left;
  height: 50px;
  width: auto;
  background: transparent;
}

.invert {
  filter: invert(100%);
}

.nav-botton {
  float: right;
}

.btn-wrapper {
  border-radius: 0;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  clip-path: circle(0px at calc(0% + 100px) 100px);
  background: #000;
  transition: all 0.3s ease-in-out;
  z-index: -5;
}
#active:checked ~ .btn-wrapper {
  clip-path: circle(250px at 100px 100px);
}

.nav h2 {
  margin-left: 5%;
  margin-top: 1%;
  z-index: 99;
}
.menu-btn {
  position: absolute;
  z-index: 2;
  left: 20px;
  /* left: 20px; */
  top: 23px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  background: transparent;
  transition: all 0.3s ease-in-out;
}

.btn-wrapper ul {
  position: absolute;
  top: 13%;
  left: 8%;
  list-style: none;
  text-align: left;
}
.btn-wrapper ul li {
  margin: 0 0;
}
.btn-wrapper ul li a {
  color: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  padding: 0;
  color: #fff;
  position: relative;
  line-height: 35px;
  transition: all 0.3s ease;
}

input[type="checkbox"] {
  display: none;
}
